<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.patelbiraj.ultrasearch"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="15" />

    <application
        android:name=".UltraSearchApplication"
        android:label="@string/app_name" >
        <activity
            android:name="com.patelbiraj.ultrasearch.ui.UltraSearchSplashActivity"
            android:configChanges="orientation|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.UltraListViewActivity" >
        </activity>

        <!-- private content provider, exported should be true to share the content provider data. -->
        <provider
            android:name="com.patelbiraj.ultrasearch.contentprovider.UltraSearchContentProvider"
            android:authorities="com.patelbiraj.ultrasearch.contentprovider.UltraSearchContentProvider"
            android:exported="false" />
    </application>

</manifest>